﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using ClientDependency.Core.Mvc

@{
    Layout = "Master.cshtml";
    Html.RequiresCss("/css/Contact-Form-Clean.css");
    var searchQuery = Request.QueryString["q"];
}

<div class="contact-clean">
    <form action="@Model.Content.Url" method="GET" id="search">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <input type="text" class="form-control col-xs-6" placeholder="Buscar..." name="q" value="@searchQuery" />
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-primary">Buscar <i class="fa fa-search"></i></button>
                </div>
                <div class="col-xs-12">
                    @{
                        if (!string.IsNullOrEmpty(searchQuery))
                        {
                            var results = Umbraco.Search(searchQuery);
                            int resultCount = results.Count();
                            <div class="searchresults">
                                <p>Encontramos <strong>@resultCount</strong> resultado@(resultCount != 1 ? "s" : "") con @(resultCount != 1 ? "los" : "el") termino@(resultCount != 1 ? "s" : "") <strong>@searchQuery</strong></p>
                                @if(results != null && results.Count() > 0)
                                {
                                    <ul>
                                        @{
                                            foreach (var result in results)
                                            {
                                                <li>
                                                    <h3><a href="@result.Url">@result.Name</a></h3>
                                                    <p>@result.metaDescription</p>
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </form>
</div>